In [285]:
import pandas as pd
import os
import glob

In [286]:
directory_path = 'D:/Final year project/References/Data Sets/Nepali News Data Set/nepali_news_dataset_20_categories_small/Tourism'

In [287]:
data = []

In [288]:
for filename in os.listdir(directory_path):
    if filename.endswith('.txt'):
        with open(os.path.join(directory_path, filename), 'r', encoding='utf-8') as f:
            text = f.read()
            data.append([text, filename[:-4]])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa4 in position 470: invalid start byte

In [289]:
df = pd.DataFrame(data, columns=['text', 'category'])

In [290]:
df.to_csv('D:/Final year project/References/Tourism.csv', index=False)

In [291]:
data = pd.read_csv("D:/Final year project/References/Tourism.csv")
data.head(30)

                                                 text  category
0   ﻿काठमाडौं । चौधौं हिमालयन ह्वाइट वाटर च्यालेन्...         1
1   ﻿५ पुस, काठमाडौं । नगरकोटस्थित क्लब हिमालयले क...        10
2   ९ साउन, पोखरा । ऐतिहासिक, पुरातात्विक एवम् धार...       100
3   ११ साउन, काठमाडौं । सरकारले आगामी दश वर्षभित्र...       101
4   १२ साउन, काठमाडौं । सरकारले भाडा निर्धारण नगर्...       102
5   ﻿काठमाडौं । सिम्रिक एयरलाइन्सले साउन ९ गतेदेखि...       103
6   ﻿१५ साउन, काठमाडौं । हरिया पहाडको बीचमा निलो म...       104
7   ﻿१७ साउन, काठमाडौं । नेपालको कुल रोजगारीमा पर्...       105
8   ﻿१७ साउन, काठमाडौं । होटल संघ नेपाल (हान)को छि...       106
9   १८ साउन, बैतडी। पर्यटन प्रवद्र्धन गर्ने उद्देश...       107
10  ﻿१९ साउन, इलाम । इलाम नगरपालिका–७ स्थित महभिरम...       108
11  २१ साउन, बर्दिवास । साउने बोलबम मेला जारी नै र...       109
12  ﻿काठमाडौं । पर्यटन मन्त्री आनन्द पोखरेलले पोखर...        11
13  ﻿२२ साउन, पाल्पा । तानसेन–रानीमहल दरबार सडक खण...       110
14  २८ साउन, गुल्मी । स्थानीय उत्पादनलाई प्रोत्साह...       111
15  ﻿३२ साउन, मेलम्ची । भूकम्पपछि मेलम्ची नगरपालिक...       112
16  ﻿१ भदौ, काठमाडौं । नेपाल वायुसेवा निगम (नेपाल ...       113
17  २ भदौ, काठमाडौं । ४ वर्षपछि राष्ट्रिय ध्वजाबाह...       114
18  ﻿काठमाडौं । नेपाल वायुसेवा निगमले आजबाट संयुक्...       115
19  ﻿६ भदौ भीमदत्तनगर । विश्वकै दुर्लभ दुई हजार ३०...       116
20  ﻿काठमाडौं । चन्द्रागिरी डाडाँमा केवलकार संचालन...       117
21  ﻿काठमाडौं । २०१६ मा पर्यटक संख्यामा बृद्धि भएक...       118
22  ﻿१० भदौ, तनहुँ । बन्दीपुर नगरपालिका कार्यालयले...       119
23  ﻿काठमाडौं । नेपाल पर्यटन बोर्डका नवनियुक्त कार...        12
24  ﻿साउदी अरवको मिक्कामा विश्वकै सवैभन्दा ठूलो हो...       120
25  ﻿१६ भदौ, पोखरा । पोखराको बाबु एड्भेञ्चर प्यारा...       121
26  १८ भदौ, पोखरा । रेस्टुराँ एन्ड बार एसोसियसन ने...       122
27  १९ भदौ, फलेवास (पर्वत) । साहसिक पर्यटकलाई आकर्...       123
28  ﻿१९ भदौ, काठमाडौं । ट्रेकिङ एजेण्टस् एशोसियशन ...       124
29  २१ भदौ, काठमाडौं । बुद्ध एयरलाई ‘एटीआर’ तथा ‘ब...       125